*.o
src/xnec2c

Makefile.in
autom4te.cache/
config.guess
config.h.in~
config.sub
intl/
m4/intldir.m4
po/Makevars.template

Makefile
config.h
config.log
config.status
po/Makefile
po/POTFILES
src/.deps/
src/Makefile
stamp-h1

